:root {
  --rgb: rgb(176.85, 158.22, 81.33);
  --rgba: rgba(176.85, 158.22, 81.33, 0.72);
  --hex: #fff001;
  --hex-2: #f12;
  --hex-3: #f129;
  --hsl: hsl(50 80% 40%);
  --hsl-2: hsl(50deg 80% 40% .2);
}

a {
  border: 1px solid rgb(100 0 0);
}