:root {
  --rgb: oklch(70.001% 0.1 96.001);
  --rgba: oklch(70.001% 0.1 96.001 / 0.72);
  --hex-6char: oklch(93.71% 0.1987 105.01);
  --hex-6char-upper: oklch(93.71% 0.1987 105.01);
  --hex-3char: oklch(63.245% 0.2529 26.98);
  --hex-3char-upper: oklch(63.245% 0.2529 26.98);
  --hex-4char: oklch(63.245% 0.2529 26.98 / 0.6);
  --hex-4char-upper: oklch(63.245% 0.2529 26.98 / 0.6);
  --hex-8char: oklch(93.71% 0.1987 105.01 / 0.5647);
  --hex-8char-upper: oklch(93.71% 0.1987 105.01 / 0.5647);
  --hsl: oklch(69.793% 0.1394 96.1);
  --hsl-alpha: oklch(69.793% 0.1394 96.1);
}

a {
  border: 1px solid oklch(31.601% 0.1297 29.234);
}